:root {
    --page-color-even: #0c0c0c;
    --page-color-odd: #262626;
    --text-color: #FFFFFF;
    --link-color: #00edb0;
}

html {
    text-align: center;
    background-color: var(--page-color-even);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-size: large;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

a {
    color: var(--link-color);
}

hr {
    visibility: hidden;
}

footer {
    margin-bottom: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.link-display {
    display: inline-block;
    box-sizing: padding-box;
    width: 100%;
    max-width: 540px;
}

.link div {
    border: 2px solid var(--text-color);
    height: max-content;
    min-width: min-content;
    padding: 8px;
    color: var(--text-color);
}

.link {
    text-decoration: none;
}

.site-logo {
    width: 100%;
    max-width: 540px;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
    overflow: hidden;
}

.section:nth-of-type(odd) img {
    border: 4px solid var(--page-color-odd);
}

.section:nth-of-type(even) img {
    border: 4px solid var(--page-color-even);
}

.section-container {
    width: 100vw;
    max-width: 1920px;
    opacity: 0%;
    transform: scale(0.8);
    text-align: center;
}

.section-container-transition {
    opacity: 100%;
    transform: none;
}

.section-container>p {
    width: 1080px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.image-large {
    object-fit: contain;
    aspect-ratio: 16/9;
    width: 1080px;
    max-width: 100%;
}

.section:nth-of-type(even) {
    background: var(--page-color-odd);
}

.section:nth-of-type(odd) {
    background: var(--page-color-even);
}

.section-container {
    width: 90%;
}

.link:hover div,
.social-links a:hover,
footer a:hover {
    opacity: 50%;
    cursor: pointer;
}

.stack-top {
    font-size: 2em;
    color: white;
}

.stack-bottom {
    font-size: 2.5em;
    color: var(--page-color-odd);
}

@media only screen and (orientation: portrait) {
    html {
        font-size: large;
    }

    .site-logo,
    .link-display {
        width: 100%;
        max-width: 100%;
    }

    .container {
        width: 100vw;
        max-width: 100%;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .section-container {
        transition: opacity 1s ease, transform 1s ease-out;
    }
}