:root {
  --page-color: #1B1B1B;
  --text-color: #FFFFFF;
}

html {
    text-align: center;
    background-color: var(--page-color);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    font-size: large;
}