:root {
  --page-color: #231f20;
  --text-color: #FFFFFF;
}

html {
    text-align: center;
    background-color: var(--page-color);
    color: var(--text-color);
    font-family: 'Fira Code', monospace;
    font-size: large;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.link-display {
    display: inline-block;
    box-sizing: padding-box;
    width: 100%;
    max-width: 540px;
}

.link div {
    border: 2px solid var(--text-color);
    height: max-content;
    min-width: min-content;
    padding: 8px;
    color: var(--text-color);
}

.social-links {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
}

.social-links a {
    height: max-content;
    min-width: min-content;
    margin: 2%;
    color: var(--text-color);
    font-size: xx-large;
}

.link {
    text-decoration: none;
}

.soon div {
    opacity: 0.75;
}

hr {
    visibility: hidden;
}

.site-logo {
    width: 100%;
    max-width: 540px;
}

footer {
    margin-top: 32px;
}

footer a {
    color: var(--text-color);
}

.page-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
    overflow: hidden;
}

.section-container {
    width: 90vw;
    max-width: 1080px;
}

.image-large {
    width: 90vw;
    max-width: 1080px;
}

.page-section:nth-of-type(even) {
    background: #bb4430;
}

.page-section:nth-of-type(odd) {
    background: var(--page-color);
}

.section-container {
    width: 90%;
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 10px;
    width: calc(100%/7);
    max-width: calc(min-content * 2);
    min-width: min-content;
}

.profile h3, .profile p {
    margin: 0;
    font-size: large;
}

.profile div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.profile img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.department-flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}

.link:hover div, .social-links a:hover, footer a:hover {
    opacity: 0.75;
}

.screenshot-showcase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.screenshot-showcase img, .screenshot-showcase iframe, .devlog-showcase img {
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 8px;
    border: 4px solid #bb4430;
    border-radius: 10px;
    max-width: 347px;
    max-height: 195px;
}

.screenshot-showcase img:hover, .screenshot-showcase iframe:hover {
    opacity: 80%;
}

.devlog-showcase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    max-width: 1920px;
}

.devlog-showcase a:hover {
    opacity: 80%;
}

.devlog-showcase img {
    border-color: var(--page-color);
}

.devlog-showcase article {
    margin: 8px;
    max-width: 347px;
}

@media only screen
and (orientation: portrait) {
    html {
        font-size: large;
    }

    .site-logo, .link-display {
        width: 100%;
        max-width: 100%;
    }
    
    .container {
        width: 100vw;
        max-width: 100%;
    }
}